## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User-specific files
*.suo
*.user
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## Misc
*.swp
*~
.DS_Store
Thumbs.db
